<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Livraria NODEJS</title>
</head>
<body>
	<table class="table">
      <caption>Legenda de tabela opcional.</caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Titulo</th>
          <th>Descrição</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <%for(var i=0;i<lista.length;i++){%>
          <tr>
            <td><%=lista[i].id%></td>
            <td><%=lista[i].titulo%></td>
            <td><%=lista[i].descricao%></td>
            <td><%=lista[i].preco%></td>
          </tr>
        <%}%>
      </tbody>
    </table>
</body>
</html>